html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#draggable-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.1);
  padding: 10px;
  list-style: none;
  margin: 1rem;
  gap: 0.5rem;
}

#draggable-list li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.05);
  padding: 0.5rem 1rem;
}

#draggable-list li .move {
  rotate: 45deg;
  cursor: move;
  background-color: black;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
}

#draggable-list button {
  border: 1px solid rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.1);
  padding: 0.5rem 1rem;
  cursor: pointer;
}